aaa_libraries|gcc
aaa_libraries|gcc-g++
aaa_libraries|glib2
aaa_libraries|keyutils
aaa_libraries|krb5
aaa_libraries|libcap
aaa_libraries|libpng
aaa_libraries|pcre
aaa_libraries|zlib
aaa_libraries|zstd
dbus
e2fsprogs
elogind
icu4c
libX11
libXau
libXdmcp
libXext
libglvnd
libxcb
openssl|openssl-solibs
pcre2
python2
python3
qt5
